package com.ai.cnr.__project__.rest.__package__.vo;

import org.codehaus.jackson.annotate.JsonIgnoreProperties;
import java.io.Serializable;
import java.math.*;
import java.util.*;

/**
 * @Title: __SvKey__DetailVO
 * @Description: __SvKey__DetailVO
 * @Date:
 * @Author: __author__
 */
@JsonIgnoreProperties(ignoreUnknown=true)
public class __SvKey__DetailVO implements Serializable {

__AddPropertyDefine__

__AddGetterSetter__

}
