package __basepackage__.dao.mapper;

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import __basepackage__.dao.bo.__BoKey__;

/**
 * @Title: __BoKey__Mapper
 * @Description:
 */
public interface __BoKey__Mapper extends BaseMapper<__BoKey__> {
}
