package com.ai.channel.__project__.api.__package__.constants;

/** 
 * __SvKey__Constants.java
 * 
 * 
 * @date 
 * @author __author__
 */
public class __SvKey__Constants {
	public __SvKey__Constants(){}
	
	
	
}
