package com.asiainfo.grid.sop.tianjin.model.__package__;

import java.io.Serializable;
import java.util.Date;

import org.codehaus.jackson.annotate.JsonIgnoreProperties;

/**
 * __SvKey__SaveRequest.java
 *
 *
 * @date
 * @author __author__
 */
@JsonIgnoreProperties(ignoreUnknown=true)
public class __SvKey__SaveRequest implements Serializable {

__AddPropertyDefine__

__AddGetterSetter__

}